.navigation {
  width: 100%;
  padding: 10px 0;

  ul {
    display: flex;
    justify-content: flex-end;
    gap: 30px;
    margin: 0;
    padding-right: 3rem;
    li {
      list-style: none;

      a {
        position: relative;
        padding-bottom: 13px;
        &.active-link::after {
          content: '';
          width: 5px;
          height: 5px;
          display: block;
          border-radius: 50%;
          background-color: var(--accent-colour);
          position: absolute;
          left: calc(50% - 2px);
          bottom: 0;
        }
      }
    }
  }
}
